/*estilos generales*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body {
margin: 40px;
font-family: cursive;
background-color: rgb(232, 204, 232);
}


/*estilo del menu*/
.menu-nav {
    height: 60px;
    display: flex;
    align-items: center;
}

.logo{
    max-width: 50px;
    border-radius: 5px;
    box-shadow: 10px black ;
    border-spacing: 5px;
}
hr{
    margin: 15px;
}

.menu{
    display: flex;
    list-style: none;
    padding: 0 20px;
    gap: 10px;
    align-content: space-evenly;
}
.btn-menu{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 5px;
    cursor: pointer;
    border: #777;

}
.activo{
    border: 1px solid;
    border-radius: 2px;
    background-color: rgb(255, 0, 234);
    color: rgb(255, 255, 255);
    border: 1px;
    border-radius: 5px;

}
.activo:hover{
    color: goldenrod;
}

/*estilo del pie*/
.pie {
    background-color: rgb(228, 0, 213);
    color: rgb(255, 255, 255);
    border: 1px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    padding: 10px 0;
}

/*estilo del contenido PG-INICIO*/
.publicidad{
    display: flex;
    align-content: center;
    margin-bottom: 20px

}
.publicidad img{
    display: block;
    margin: 0 auto;
    max-width: 80%;
    width: 80%;
    max-height: min-content;
   
}

.bandeja{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.tarjeta{
    border: 3px solid #ff00c8;
    border-radius: 10px;
}
.tarjeta h3{
    color: #777;
}
.tarjeta a {
    color: rgb(186, 83, 234);
    text-decoration: none;
}


/*AGREGANDO ESTILO A GALERIA*/
.foto{
    
    padding: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    display: flex;
    align-content: center;
    margin-bottom: 20px
}
.imagen-fija{
    width: 600px; 
  height: 400px; 
  object-fit: cover; 
  border-radius: 5px;
  align-content: center;
  border: #777;
  display: grid;
  display: flex;
  flex-grow: 1fr;
  flex-wrap: wrap;
  flex-basis: 1fr;
}

/*diseño a los videos*/
.contenedor-videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

video {
    width: 100%;
    height: 200px;
    object-fit: cover;
    align-content: center;
    margin-bottom: 20px
}

/*ESTILO A LAS NOTICIAS*/

CSS (en estilos.css)

.contenedor-noticias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.noticia {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
}

.columna {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.columna-1 {
    grid-column: 1;
}

.columna-2 {
    grid-column: 2;
}

.columna-3 {
    grid-column: 3;
}

.columna-4 {
    grid-column: 4;
}

.columna-5 {
    grid-column: 5;
}

.columna-6 {
    grid-column: 6;
}

.columna-7 {
    grid-column: 7;
}

.noticia_es{
    width: 100%;
    height: 150px;
    object-fit: cover;
}



